
@media screen and (max-width: 767px) {
	.header{padding: 10px 0;}
	.col-auto{display:none;}
	#mood{display:none;}
}
@media screen and (max-width: 960px) {
	.ylink{display: none;}
}
@media screen and (min-width: 768px) {
	.pop .main .container{width:100%; margin:0;}
}
@media screen and (min-width: 1200px) {
	.pop .main .container{width: 980px;}
}
.navbar{
	margin-bottom: 0;
}
.navbar-default{
	
	background-color: #CA7E23;
}
.navbar-default .navbar-nav>li>a{
	color: #333;
	font-weight: bold;
	font-size: 14px;
}
.navbar-default .navbar-nav>.active>a{
	background-color: #CA7E23;
}	
.navbar-default .navbar-nav>li>a:hover{
	background-color: #E09F34;
}

.navbar-default navbar-brand{
	color: #631078;
}

#content .container{
	max-width: 980px;
}

.pagenav,.pagenav .inside {
	border-color: #ad6d38;
	border-style: solid;
}
.pagenav {
	border-width: 2px;
	margin-top: 20px;
}
.pagenav .inside {
	margin: 1px;
	border-width: 1px;
}
.pagenav .content {
	margin:5px;
}
.pagenav .content li {
	line-height: 30px;
	margin: 6px 2px;
}
.pagenav .content li a {
	display: block;
	background-color: #ebe5d6;
	padding: 5px 10px;
}