{template "content","header"}
<div id="content">
	<div class="container">
	<div class="row">
		<div class="col-auto left-nav col-sm-3 col-md-3 col-lg-3">
	    	<div class="pagenav">
	    	<div class="inside">
	    	<ul class="content">
	        	{loop $arrchild_arr $cid}
	                <li{if $catid==$cid} class="cur"{/if}><a href="{$CATEGORYS[$cid][url]}">{$CATEGORYS[$cid][catname]}</a></li>
				{/loop}
	        </ul>
	        </div>
	        </div>
	    </div>
	    <div class="col-right col-xs-12 col-sm-9 col-md-9 col-lg-9">
	    	<img src="{IMG_PATH}v9/about_ad.png" width="659" height="171" />
	    	<div class="bk10"></div>
	    	<h1 class="title">{$title}</h1>
	        <div class="content">
	        	    {$content}
	        </div>
	    </div>
    </div>
    </div>
 </div>
{template "content","footer"}